<script src="https://identity-js.netlify.com/v1/netlify-identity-widget.js"></script>
<script src="{{ "/js/cash.min.js" | relative_url }}"></script>
<script src="{{ "/js/modernizr.min.js" | relative_url }}"></script>
<script src="{{ "/js/anime.min.js" | relative_url }}"></script>
<script src="{{ "/js/script.js" | relative_url }}"></script>
<script src="{{ "/js/lazysizes.min.js" | relative_url }}"></script>

<script type="text/javascript">
    var fonts = document.createElement('link');
    fonts.rel = 'stylesheet';
    fonts.href = 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Orbitron:700|Syncopate:700&display=swap';
    fonts.type = 'text/css';
    var defer = document.getElementsByTagName('link')[0];
    defer.parentNode.insertBefore(fonts, defer);
</script>